
<div id="about">
  <h5>ABOUT ME</h5>
  <img src="../assets/composite1-square.jpg" />


  <p>I'm a Seattle-based front-end developer with an interest in UX design and back-end development.
    I'm currently a senior at the University of Washington in the Informatics program.
    I love learning how people work and how technology works, and front-end development gets the best of both worlds involving both programming and human-centered design.</p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
  