<div id="about">
  <h3>{{ "About Me" | uppercase }}</h3>
  <img id="composite" src="https://i.imgur.com/g6TzfQG.jpg" />


  <p>I'm a Seattle-based front-end developer with an interest in UX design and back-end development.
    I'm currently a senior at the University of Washington in the Informatics program.
    I love learning how people work and how technology works.
    Front-end development gets the best of both worlds involving both programming and human-centered design.</p>

    <a target="_blank" href="https://github.com/Soichit"><img class="icons" src="../assets/github.png" /></a>
    <a target="_blank" href="https://www.linkedin.com/in/soichit"><img class="icons" src="../assets/linkedin.png" /></a>
    <a target="_blank" href="https://www.youtube.com/user/Ohmmmmmful"><img class="icons" src="../assets/youtube.png" /></a>
    <br />
    <a id="resume-link" href="../assets/resume.pdf" download>{{ "Resume" | uppercase }}</a>


    <div id="my-video">
      <h3>{{"90 second video about me" | uppercase }}</h3>
      <iframe width="80%" height="50%" src="https://www.youtube.com/embed/rYgpFq_9LiM" frameborder="0" allowfullscreen></iframe>
    </div>

</div>