#about {
    padding-top: 5vw;
    background-color: white;
    color: gray;
    text-align: center;
}

h5 {
    color: gray;
    text-align: center;
    font-size: 2vw;
}

h3 {
    color: gray;
    text-align: center;
    font-size: 3.5vw;
}

p {
    color: gray;
    text-align: center;
    font-size: 1.7vw;
    margin: 2vw;
}

a {
    color: gray;
    font-size: 1.5vw;
}

#resume-link {
    text-decoration: none;
    border-bottom: 1px solid #111;
    border-color: rgba(17,17,17,.2);
}

#composite {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    /*display: block;
    margin: auto;*/
}

iframe {
    height: 50vw;
}

.icons {
    width: 2vw;
    height: 2vw;
    margin: 2vw;
    /*filter: invert(100%);*/
    cursor: pointer;
}

.icons:hover {
    filter: invert(75%);
}

#my-video {
    margin-top: 10vw;
    padding-bottom: 10vw;
}