


<md-card *ngFor="let projects of data" (click)="onClick(1)" [class.highlight]="selectionIndex != 1">
  <md-card-title-group>
      <img md-card-sm-image src="https://i.imgur.com/WpJZBgv.jpg">
      <md-card-title>{{ (projects.title| json) | uppercase}}</md-card-title>
      <md-card-subtitle>{{ projects.subtitle | json | uppercase}}</md-card-subtitle>
  </md-card-title-group>
  <br />
  <md-card-content *ngIf="selectionIndex == 1">
    <p><span class="tab1">This</span>
      was our final project for our web development class. We got to practice leadership and teamwork skills through collaborating in groups of 4. We also collaborated with one of the database researchers in the Informatics department to expand a revolutionary search engine to help students and researchers find the most relevant scholarly article. Our job was the front-end part so we took their API with their search engine and implemented a way to see the data visually. We got one of the highest grades in class by spending a total amount close to 100 hours on this project.</p>

      <p class="no-bottom"><u>What I learned:</u></p>
      <ul>
        <li> Data Visualization </li>
        <li> D3 </li>
        <li> Collaboration </li>
      </ul>

      <p class="no-bottom"><u>Links:</u></p>
      <div class="left-align" (click)="onClickLink()">
        <a target="_blank" href="http://students.washington.edu/soichit/info343/babel-collab/">Demo</a>
        <a target="_blank" href="https://github.com/jamesp21/babel-collab">Source Code</a>
      </div>
  </md-card-content>
</md-card>