
img {
    width: 20vw;
	height: 20vw;
	border-radius: 5%;
    margin-top: 0.5vw;
	box-shadow: 0.8vw 0.8vw 1vw #aaa;
}

md-card {
    background-color: white;
    color: lightgray;
    margin: 4vh;
}

.highlight:hover {
    background-color: lightcyan;
    cursor: pointer;
}

md-card-title, md-card-subtitle {
    font-family: 'Raleway', 'Helvetica Neue', 'Lato', sans-serif;
    font-weight: 200;
}

md-card-title {
    font-size: 3.5vw;
    /*padding-right: 4vh;*/
}

md-card-subtitle {
    font-size: 1.7vw;
    text-align: left;
    padding-left: 1.5vh;
}

p {
    font-size: 1.7vw;
    color: gray;
}

.left-align {
    text-align: left;
}

.tab1 {
    padding-left: 3em;
}

.no-bottom {
    margin-bottom: 0.5vw;
}

ul {
    list-style-type: square;
    margin-top: 0px;
}

li {
    font-size: 1.7vw;
    color: gray;
}

a {
    font-size: 1.7vw;
    color: gray; 
    margin-left: 1em;
    text-decoration: none;
    border-bottom: 1px solid #111;
    border-color: rgba(17,17,17,.2);
}

.no-link {
    color: gray;
    border-bottom: none;
    cursor: default;
}