
img {
    width: 15vw;
    height: 15vw;
    border-radius: 5%;
}

md-card {
    background-color: white;
    color: lightgray;
    margin: 2vh;
}

md-card-title {
    font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
    font-weight: 200;
    font-size: 3.5vw;
    /*padding-right: 4vh;*/
}

md-card-subtitle {
    font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
    font-weight: 200;
    font-size: 1.7vw;
    /*padding-left: 5vh;*/
}

p {
    font-size: 1.7vw;
    color: gray;
}

.tab1 {
    padding-left: 3em;
}

ul {
    list-style-type: square;
}

li {
    font-size: 1.7vw;
    color: gray;
}